@charset 'utf-8';

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * BASE................Base css
 * HEADER..............Setting boostrap variables for the header
 * BOOTSTRAP...........Bootstrap modifications/additions
 * SUDOKU..............Set the display of the sudoku board
 * CONTROL.............Set display for the other stuff that isn't the board
 * PENCILMARKS.........For laying out of the pencil marks on individual squares
 * OVERLAY.............For the table overlay
 * STATUS..............For the status text
 */










 
/*------------------------------------*\
    $BASE
\*------------------------------------*/
@import "../lib/bootstrap/less/bootstrap.less";
@import (css) "../lib/font-awesome/css/font-awesome.css";

@grid-columns: 12;

html {  
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  background-color: white;
}

.row{
  margin-bottom: 15px;
}










 
/*------------------------------------*\
    $HEADER
\*------------------------------------*/

header{
  .navbar-header{
    .make-sm-column(6);
  }  
  
  nav{
    .pull-right;
    .make-sm-column(6);
  }
}


  










/*------------------------------------*\
    $BOOTSTRAP
\*------------------------------------*/

.btn-group-vertical .btn-group-horizontal .btn {
  float: left;
  width: 50%;
  border-top-right-radius: 0;
  &:last-child {
    float: right;
  }
}

.center{
  margin: auto;
}











/*------------------------------------*\
    $SUDOKU
\*------------------------------------*/

.sudoku{
  .make-sm-column(8);
  .make-md-column(6);
}

.table-sudoku, .table-sudoku-select{
  .table;
  .table-bordered;
  width: auto;
  user-select:none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
  border: 2px solid black;
  display: inline-block;
  overflow: hidden;
  
  td {
    height: 50px;
    width: 50px;
    max-width: 50px;
    max-height: 50px;
    text-align: center;
    vertical-align: middle!important;
    font-size: 1.5em;
    padding: 5px;
  }
}

.table-sudoku{
  @media (max-width: 500px) {
    width: 100%;
    height: 100%;
  }
  
  tr.arow:hover, col:hover {
    background-color: #F5F6CE;
  }
  
  td.cell:hover:after, .ff-fix:hover:after{
    background-color: #F5F6CE;
    content: ' ';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index:-1;
  }
  
  .wrong{
    border: 2px solid red;
  }
  
  .row2, .row5{
    border-bottom: 2px solid black;
  }
  
  .col2, .col5{
    border-right: 2px solid black;
  }
}

.table-sudoku-select{
  margin-left: auto;
}


td, th, .ff-fix {
    cursor: pointer;
    position: relative;
}

td.highlighted{
  background-color: yellow;
}











/*------------------------------------*\
    $CONTROL
\*------------------------------------*/
.control{
  .make-sm-column(4);
  .make-md-column(6);
}

.select{
  .make-xs-column(8);
  .make-sm-column(10);
  .make-sm-column-offset(1);
  .make-md-column(5);
}

.buttons{
  .make-xs-column(4);
  .make-sm-column(6);
  .make-sm-column-offset(3);
  .make-md-column(4);
  .make-md-column-offset(1);
  
  button{
    .btn-default;
  }
}









/*------------------------------------*\
    $PENCILMARKS
\*------------------------------------*/

.pencilMarks{
  max-width:150%;
  height: 100%;
  margin: -6px;
  
  td{
    height: 33%;
    line-height: 15px;
    padding: 0px;
    font-size: 0.5em;
  }
}

.whiteText{
  opacity: 0;
}











/*------------------------------------*\
    $OVERLAY
\*------------------------------------*/

.table-overlay{
  .table-sudoku;
  height: 458px;
  position: absolute;
  top: 0;
  left: 15px;
  width: 455px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  
  .half{
    margin-bottom: -100px;
    height: 50%;
  }
  
  h3 span{
    cursor: pointer;
  }
}











/*------------------------------------*\
    $STATUS
\*------------------------------------*/
.statusText{
  text-align: center;
  .make-md-column(10);
}








/*------------------------------------*\
    $PKMNCARDS
\*------------------------------------*/
.row form{
  margin-left: 5px;
}
.card{
  float: left;
  padding: 5px;
  
  .panel{ 
    height: 200px;
    padding: 10px;
    
    .name{
      float: right;
    }
    
    .num{
      float: left;
    }
    
    .sprite{
      width: 50%;
      float: right;
      clear: right;
    }
  }
}