// out: app.css
@charset 'utf-8';

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * BASE................Base css, including variables
 * HEADER..............Setting boostrap variables for the header
 * BOOTSTRAP...........Bootstrap modifications/additions
 * SUDOKU..............Set the display of the sudoku board
 * CONTROL.............Set display for the other stuff that isn't the board
 * PENCILMARKS.........For laying out of the pencil marks on individual squares
 * OVERLAY.............For the table overlay
 * STATUS..............For the status text
 * MESSAGES............
 * PKMNMAIN............
 * PKMNCARDS...........
 * SPINNERS............
 * CHARTS..............For the charts
 */











/*------------------------------------*\
    $BASE
\*------------------------------------*/
@import "../lib/bootstrap/less/bootstrap.less";
@import (css) "../lib/font-awesome/css/font-awesome.css";
@import "./spinners.less";

@grid-columns: 24;
@screen-sm: 700px;
.nav, .pagination, .carousel a { cursor: pointer; }
html {
  -ms-touch-action: none;
  touch-action: none;
}

body {
  background-color: white;
  overflow-x: hidden;
}

.row{
  margin-bottom: 15px;
}











/*------------------------------------*\
    $HEADER
\*------------------------------------*/

header{
  .navbar-header{
    .make-sm-column(@grid-columns / 2);
  }

  nav{
    .pull-right;
    .make-sm-column(@grid-columns / 2);
  }
}













/*------------------------------------*\
    $BOOTSTRAP
\*------------------------------------*/

.btn-group-vertical{
  display: block;
}

.btn-group-vertical .btn-group-horizontal .btn {
  float: left;
  width: 50%;
  border-top-right-radius: 0;
  &:last-child {
    float: right;
  }
}

.center{
  margin: auto;
}

.difficulty{
  .pull-left;
  width: 100%;
}










/*------------------------------------*\
    $SUDOKU
\*------------------------------------*/

.sudoku{
  @media (max-width: 767px){
    text-align: center;
  }
  overflow: hidden;
  .make-sm-column(@grid-columns / 1.5);
  .make-md-column(@grid-columns / 2);
}

.shrink-wrap{
  float: left;
  position: relative;
  height: 500px;

  @media (max-width: 699px){
    left: 50%;
  }
}

.table-sudoku{
  .sudoku-styles;
  position: relative;

  @media (max-width: 699px){
    left: -50%;
  }

  td.cell:hover:not(.faded){
    background-color: #F5F6CE;
  }

  .wrong{
    background-color: red!important;
    border: 1px solid red;
  }

  .row2, .row5{
    border-bottom: 2px solid black;
  }

  .col2, .col5{
    border-right: 2px solid black;
  }
}

.table-sudoku-select{
  .sudoku-styles;
  margin-left: auto;
  margin: 0px;
  background-color: white;
  td{
    padding: 0px!important;
    font-size:1em;
    line-height: 20px;
    height: 20px;
    width: 20px;
    max-width: 30px;
    max-height: 30px;
  }
}

td, th, .ff-fix {
  cursor: pointer;
  &.faded, &.faded2{
    pointer-events: none;
    cursor: not-allowed;
  }
  position: relative;
}

@-moz-document url-prefix() {
  td{
    position: static;
  }
}


.sudoku-styles{
  .table;
  .table-bordered;
  width: auto;
  user-select:none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
  border: 2px solid black;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
  td {
    height: 51px;
    width: 50px;
    max-width: 51px;
    max-height: 50px;
    text-align: center;
    vertical-align: middle!important;
    font-size: 1.5em;
    &.faded {
      background-color: #D1D1D1;
    }
    &.faded2 {
      border-color: black;
      color: black;
      background-color: black;
    }

    &.highlighted{
      background-color: yellow;
    }

    &.semiHighlighted:not(.faded){
      background-color: rgba(255, 255, 178, 0.6);
    }

    &.semiHighlighted.faded{
      background-color: rgba(209, 209, 120, 0.3);
    }
  }
}










/*------------------------------------*\
    $CONTROL
\*------------------------------------*/
.control{
  .make-sm-column(@grid-columns / 3);
  .make-md-column(@grid-columns / 2);
}

.buttons{
  .make-xs-column(@grid-columns / 2);
  .make-sm-column(@grid-columns / 1.5);
  .make-md-column(@grid-columns / 3);
  .make-md-column-offset(@grid-columns / 6);
  .controlPanel;

  button{
    .btn-default;
  }

  padding-left: 7px;
  padding-right: 7px;
}

.cheat{
  .make-xs-column(@grid-columns / 2);
  .make-sm-column(@grid-columns / 1.5);
  .make-md-column(@grid-columns / 3);
  .controlPanel;

  button{
    .btn-default;
  }

  @media (max-width: 991px) and (min-width: 700px){
    margin-top: 20px;
  }

  padding-left: 7px;
  padding-right: 7px;
}

.controlPanel{
  text-align: center;
}









/*------------------------------------*\
    $PENCILMARKS
\*------------------------------------*/

.pencilMarks{
  max-width:150%;
  height: 100%;
  margin: -6px;

  td{
    height: 33%;
    line-height: 15px;
    padding: 0px;
    font-size: 0.5em;
  }
}

.whiteText{
  opacity: 0;
}











/*------------------------------------*\
    $OVERLAY
\*------------------------------------*/

.table-overlay{
  .table-sudoku;
  height: 464px;
  position: relative;
  top: -489px;
  @media (max-width: 699px){
    left: -50%;
  }
  width: 455px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  overflow: auto;

  @media (max-width: 455px){
    width: 100%;
//    border-style: none;
  }

  .half{
    margin-bottom: -100px;
    height: 50%;
  }

  h3 span{
    cursor: pointer;
  }
}











/*------------------------------------*\
    $STATUS
\*------------------------------------*/

.statusWrapper{
  @media (max-width: 699px) {
    float: left;
    position: relative;
    left: 50%;
    height: 0px;
  }
}

.statusText{
  overflow: hidden;
  text-align: center;

  .half{
    display: hidden;
  }

  @media (min-width: 700px) {
    .make-sm-column(@grid-columns / 1.5);
    .make-md-column-offset(@grid-columns / 6);
  }

  @media (max-width: 699px) {
    .table-overlay;

    .half{
      display: auto;
    }
    top: -658px;
    left: -50%;
    float: left;
    @media (max-width: 455px) {
      border-style: none;
      width: 455px;
    }
  }
}











/*------------------------------------*\
    $MESSAGES
\*------------------------------------*/

.messages{
  max-height: 300px;
  overflow-y: auto;
}











/*------------------------------------*\
    $PKMNMAIN
\*------------------------------------*/
.controls{
  .make-sm-column(@grid-columns / 3);
}

.card-pack, .intro{
  .make-sm-column(@grid-columns / 1.8);
}











/*------------------------------------*\
    $PKMNCARDS
\*------------------------------------*/
.row form{
  margin-left: 5px;
}
.card{
  .make-xs-column(@grid-columns / 2);
  .make-md-column(@grid-columns / 3);
  float: left;
  padding: 5px;

  .panel{
    height: 200px;
    padding: 10px;

    .name{
      float: right;
    }

    .num{
      float: left;
    }

    .sprite{
      width: 50%;
      float: right;
      clear: right;
    }
  }
}












/*------------------------------------*\
    $SPINNERS
\*------------------------------------*/
.spinnerContainer {
  display: flex;
  flex-flow: wrap;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-size: 130%;
}

.spinners{
  width : 200px;
}

figure.spinnerBox {
  margin-top: 10px;
  width: 100%;
  border: 1px solid black;

  figCaption {
    border-top: 1px solid black;
    text-align: center;
  }
}

.spinner {
  font-size: 200px;
}

pre{
  align-self: center;
  width: 50%;
}

//@colour1: @colour7;
//@colour2: @colour8;
//@colour3: @colour9;
//@colour4: @colour10;
//@colour5: @colour11;
//@colour6: @colour12;












/*------------------------------------*\
    $CHARTS
\*------------------------------------*/

.chart-label {
  font-size: 1.5em;
  line-height: normal;
  color: black;
}

.chart {
  margin: 10px 0;
  width: 100%;
  height: 250px;
}

.chart svg {
  overflow: visible !important;
}

.chart.large {
  height: 400px;
}

.plot-area {
  background-color: white;
}

.y-axis-label {
  white-space: nowrap;
}
.bar {
  fill: #9cf;
  stroke-width: 0;
}

.plot-area {
  background-color: white;
}

d3fc-svg svg {
  overflow: visible !important;
}

.annotation-line > line {
  fill-opacity: 0;
  stroke: #999;
  stroke-width: 1;
  stroke-dasharray: 3, 3;
}
