@charset 'utf-8';

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * BASE................Base css
 * BOOTSTRAP...........Bootstrap modifications/additions
 * SUDOKU..............Set the display of the sudoku board
 * MINISQUARES.........Borders for the inner squares on the board
 * PENCILMARKS.........For laying out of the pencil marks on individual squares
 * OVERLAY.............For the table overlay
 * STATUS..............For the status text
 */











/*------------------------------------*\
    $BASE
\*------------------------------------*/
body {
  background-color: white;
}

.row{
  margin-bottom: 15px;
}











/*------------------------------------*\
    $BOOTSTRAP
\*------------------------------------*/

.btn-group-vertical .btn-group-horizontal .btn {
  float: left;
  width: 50%;
  border-top-right-radius: 0;
}

.btn-group-vertical .btn-group-horizontal .btn:last-child {
  float: right;
}

.center{
  margin: auto;
}











/*------------------------------------*\
    $SUDOKU
\*------------------------------------*/

.table-sudoku, .table-sudoku-select{
  width: auto;
  user-select:none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
  border:2px solid black;
  overflow: hidden;
}

.table-sudoku-select{
  margin-left: auto;
}

.table-sudoku td, .table-sudoku-select td{
  height: 50px;
  width: 50px;
  max-width: 50px;
  max-height:50px;
  text-align: center;
  vertical-align: middle!important;
  font-size: 1.5em;
  padding: 5px;
}

.table-sudoku col, .table-sudoku tr{
  border: 1px solid gray;
}

.table-sudoku tr.arow:hover, .table-sudoku col:hover{
  background-color: #F5F6CE;
}

td, th, .ff-fix {
    cursor: pointer;
    position: relative;
}

.table-sudoku
td.cell:hover:after,
.table-sudoku
.ff-fix:hover:after {
  background-color: #F5F6CE;
  content: ' ';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index:-1;
}

td.highlighted{
  background-color: yellow;
}

td.semiHighlighted{
  /*background-color: #F5F6CE;*/
}

.table-sudoku .wrong{
  border: 3px solid red;
}











/*------------------------------------*\
    $MINISQUARES
\*------------------------------------*/

.table-sudoku .row2,
.table-sudoku .row5{
  border-bottom: 2px solid black;
}

.table-sudoku .col2,
.table-sudoku .col5{
  border-right: 2px solid black;
}











/*------------------------------------*\
    $PENCILMARKS
\*------------------------------------*/

.pencilMarks{
  max-width:150%;
  height: 100%;
  border: 0px;
  margin: -6px;
}

.pencilMarks tr{
  border-style: none;
  border-width: 0px;
  border-color: white;
}

.pencilMarks td{
  height: 33%;
  line-height: 15px;
  padding: 0px;
  font-size: 0.5em;
}

.whiteText{
  opacity: 0;
}











/*------------------------------------*\
    $OVERLAY
\*------------------------------------*/

.table-overlay{
  height: 455px;
  position: absolute;
  top: 0;
  width: 440px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  vertical-align: middle;
}

.table-overlay .half{
  margin-bottom: -50px;
  height: 50%;
}

.table-overlay h3 span{
  cursor: pointer;
}











/*------------------------------------*\
    $STATUS
\*------------------------------------*/
.statusText{
  text-align: center;
}








/*------------------------------------*\
    $PKMNCARDS
\*------------------------------------*/
.row form{
  margin-left: 5px;
}
.card{
  float: left;
  padding: 5px;
}

.card .panel{ 
  height: 200px;
  padding: 10px;
}

.card .panel .name{
  float: right;
}

.card .panel .num{
  float: left;
}

.card .panel .sprite{
  width: 50%;
  float: right;
  clear: right;
}