<!doctype html>
<html lang="en" ng-app="sudokuApp">
<head>
  <meta charset="utf-8">
  <title>Sudoku</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="lib/jquery/jquery-1.10.2.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/sudokuBoard.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="SudokuCtrl">
  <div class="container">
    <div id="row">
      <div class="col-sm-8 col-md-6">
          <table class="table table-bordered table-sudoku">
            <col ng-repeat="row in board.getBoard()"
              ng-class="{wrong: incorrect.col.indexOf($index) > -1}"
              class="col{{$index}}"/>
            <tr ng-repeat="row in board.getBoard()"
              ng-class="{wrong: incorrect.row.indexOf($index) > -1}"
              class="row{{$index}}">
              <td ng-repeat="cell in row track by $index"
                ng-click="setSelected($parent.$index, $index)"
                ng-class="{highlighted: selectedRow === $parent.$index && selectedCol === $index,
                semiHighlighted: selectedCol === $index || selectedRow === $parent.$index}">
                <span ng-show="cell">
                  {{cell}}
                </span>
              </td>
            </tr>
          </table>
      </div>
      <div class="col-sm-4 col-md-6">
        <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <table class="table table-bordered table-sudoku-select">
            <tr ng-repeat="row in [0, 1, 2]">
              <td ng-repeat="cell in [1, 2, 3]"
                ng-class="{highlighted: (cell + row * 3) === selectedCell()}"
                ng-click="setValueOfCell(cell + row*3)">
                <span>{{cell + row*3}}</span>
              </td>
            </tr>
          </table>
        </div>

        <div class="col-md-6">
          <div class="btn-group-vertical">
            <button class="btn btn-default"
              ng-click="generate()">
              Start new game
            </button>

            <button class="btn btn-default"
              ng-click="solve()">
              Solve
            </button>

            <button class="btn btn-default" ng-click="check()">
              Check
            </button>
          </div>
        </div>
        </div>

        <div class="row col-md-offset-1">
          <span ng-show="won()">
            Well done, you have won!
          </span>
          <span ng-show="checked && checkBoard() && !won()">
            Correct so far
          </span>
          <span ng-show="checked && !checkBoard()">
            Something is wrong
          </span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
